<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<form th:action="@{/article/insertArticle}" method="post" th:object="${articleForm}">
<label for="name">投稿者名：</label>
<input id="name" type="text" th:field="*{name}">
<br>
<br>
投稿内容：<br>
<textarea name="content" rows="4" cols="40" th:field="*{content}"></textarea>
<br>
<br>
<button>記事投稿</button><br>
</form>
 <br>

<div th:each="article:${articleList}">
<hr>
投稿者名：<span th:text="${article.name}"></span><br>
投稿内容：<br>
<span th:text="${article.content}"></span>

<br>

<div th:each="comment:${article.commentList}">
<br>
コメント者名：<span th:text="${comment.name}"></span><br>
コメント内容：<span th:text="${comment.content}"></span> 
</div>


<br>
<br>

<form th:action="@{/article/insertComment}" method="post" th:object="${commentForm}">
<input type="hidden" name="articleId" th:value="${article.id}"> 
名前：<input name="name" type="text" th:field="*{name}">
<br>
コメント：<br>
<textarea name="content" rows="4" cols="40" th:field="*{content}"></textarea>
<br>
<button>コメント投稿</button>
<br>
</form>
</div>
</body>
</html>