<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!-- 
<form th:action="@{/article/insertArticle}]" method="post" th:object="${articleForm}">
<label for="name">投稿者名：</label>
<input id="name" type="text" th:field="*{name}">
<br>
投稿内容：
<input type="text" name="content" th:field="*{content}">
<button>記事投稿</button>
</form>
 -->

<div th:each="article:${articleList}">
<hr>
投稿者名：<span th:text="${article.name}"></span><br>
投稿内容：<br>
<span th:text="${article.content}"></span>
</div>

</body>
</html>